RUN_USER = {{gogs_user}}
RUN_MODE = prod

[database]
DB_TYPE = mysql
HOST = 127.0.0.1:{{ mariadb_port }}
NAME = gogs
USER = {{db_user | default(admin)}}
PASSWD = {{db_pwd | default('Passw0rd!')}}
SSL_MODE = disable
PATH = data/gogs.db

[repository]
ROOT = /home/{{gogs_user}}/gogs-repositories

[server]
DOMAIN = localhost
HTTP_PORT = 3000
ROOT_URL = http://localhost/git

[session]
PROVIDER = file

[log]
MODE = file
LEVEL = Info

[security]
INSTALL_LOCK = true
SECRET_KEY = 1NS3SccBDywrYAa
