#!/usr/bin/env bash
# Start Sonar
export SONAR_HOME=/opt/sonar

exec java -jar /opt/sonar/lib/sonar-application-{{sonar_version}}.jar \
   -Dsonar.log.console=true \
   -Dsonar.jdbc.username="{{db_user}}" \
   -Dsonar.jdbc.password="{{db_pwd}}" \
   -Dsonar.jdbc.url="jdbc:mysql://{{database_ip_address}}:{{database_port}}/sonar?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance" \
   -Dsonar.web.javaAdditionalOpts="-Djava.security.egd=file:/dev/./urandom" \
 "$@"
