# User used by SONAR to connect to the database
sonar.jdbc.username={{ db_user | default(admin) }}
sonar.jdbc.password={{ db_pwd  | default('Passw0rd!') }}
sonar.jdbc.url=jdbc:mysql://localhost:{{ mariadb_port }}/sonar?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance

# bind to any IP
#sonar.web.host=0.0.0.0
sonar.web.host=localhost
sonar.web.context=/sonar

# port for incoming http requests

