.idea/
envs/pamm/.vagrant
envs/pamm/out*
envs/packer_cache
envs/ci-compact/.vagrant
envs/ci-compact/out*
envs/docker-registry/.vagrant
envs/europa/.vagrant
envs/europa/out-*
plays/.vagrant
files/cache/
*.iml
*~
