.idea/
envs/pamm/.vagrant
envs/pamm/out*
envs/pamm/packer_cache
envs/ci-compact/.vagrant
envs/ci-compact/out*
envs/ci-compact/packer_cache
envs/docker-registry/.vagrant
plays/files/cache/
plays/files/docker/certs
*.iml