---
  - name: Create group for Jenkins user
    user:
      name="{{jenkins_group}}"
      state=present

  - name: Create user for Jenkins
    user:
      name="{{jenkins_user}}"
      password="{{jenkins_password}}"
      group="{{jenkins_group}}"
      state=present

  - name: Create key folder
    file:
      path=/home/jenkins/.ssh
      state=directory
      owner=jenkins
      group=jenkins

  - name: Add Jenkins to sudoers list
    copy: src=jenkins dest=/etc/sudoers.d/jenkins

  - name: Copy ssh key file to host
    copy:
      src=cache/authorized_keys
      dest=/home/jenkins/.ssh

  - name: Remove temporary ssh key file
    local_action: file
      path=cache/authorized_keys
      state=absent

  - name: Remove nologin file
    file:
      path=/run/nologin
      state=absent
    when: connection == "docker"
    
