---
- name: Install Maven
  include_role:
    name: "common_tasks"
    tasks_from: "install_tool.yml"
  vars:
    tool_name : Maven
    folder_name : "{{ maven_folder }}"
    zip_filename: "{{ maven_zip }}"
    add_version_to_folder : false
    zip_has_folder : true
    has_bin_folder : true
    user: "{{jenkins_user}}"

- name: Create jenkins user .m2 folder
  file:
    path: "{{jenkins_user_home}}/.m2"
    state: directory
    mode: 0755
    owner: "{{jenkins_user}}"
    group: "{{jenkins_group}}"

- name: Copy Maven settings.xml file
  copy:
    src: maven/settings.xml
    dest: "{{jenkins_user_home}}/.m2/settings.xml"
    mode: 0600
    owner: "{{jenkins_user}}"
    group: "{{jenkins_group}}"
...