---
  - name: Install Simple Build Tool (SBT)
    include: "plays/install_tool.yml"
    vars:
      tool_name : SBT
      folder_name : "sbt-{{ sbt_version }}"
      zip_filename: "{{ sbt_zip }}"
      add_version_to_folder : true
      zip_has_folder : true
      has_bin_folder : true
      user: jenkins
    when: sbt_version != "0.13.13"

  - name: Install Simple Build Tool (SBT)
    include: "plays/install_tool.yml"
    vars:
      tool_name : SBT
      folder_name : "sbt-launcher-packaging-{{ sbt_version }}"
      zip_filename: "{{ sbt_zip }}"
      add_version_to_folder : false
      zip_has_folder : true
      has_bin_folder : true
      user: jenkins
    when: sbt_version == "0.13.13"

  - name: Check for local SBT cache
    become: yes
    become_user: "{{ group_localhost_user }}"
    local_action: "stat path=cache/{{ sbt_cache }}"
    register: sbt_dependencies

  - name: Copy SBT {{ sbt_version }} cache zip file
    copy:
      src: "cache/{{ sbt_cache }}"
      dest: "/tmp/{{ sbt_cache }}"
      owner: root
    when: sbt_dependencies.stat.exists == true

  - name: Unzip SBT cache zip file
    unarchive:
      src: "/tmp/{{ sbt_cache }}"
      dest: /home/jenkins
      copy: no
      owner: jenkins
      group: jenkins
    when: sbt_dependencies.stat.exists == true

  - name: Delete SBT cache zip file
    file:
      path: "/tmp/{{ sbt_cache }}"
      state: absent
    when: sbt_dependencies.stat.exists == true
