---
  - name: Create user for SonarQube
    user:
      name={{sonar_user}}
      password={{sonar_password}}
      state=present

  - name: Set Nexus user environment variables
    blockinfile:
      dest: "/home/sonar/.bashrc"
      insertafter: "# User specific aliases and functions"
      marker: "# {mark} Sonar Environment Variables"
      block:  "export JAVA_HOME=/usr/java/default

export PATH=$PATH:$JAVA_HOME/bin

"

  - include: "plays/install_rpm.yml"
    vars:
      rpm_app_name: SONAR
      rpm_filename : "{{ sonar_rpm }}"

  - name: Copying SONAR configuration
    template: src=sonar.properties.j2
              dest=/opt/sonar/conf/sonar.properties
              owner={{sonar_user}}

  - name: Starting the SONAR service
    service:
      name=sonar
      state=started
      enabled=yes
    when: blueprint != "silicon"

  - name: Starting Sonar
    shell: "su -c \"/opt/sonar/bin/linux-x86-64/sonar.sh start &\" - sonar"
    when: blueprint == "silicon"
