RUN_USER = {{gogs_user}}
RUN_MODE = prod

[database]
DB_TYPE = mysql
HOST = {{database_ip_address}}:{{ database_port }}
NAME = gogs
USER = {{db_user}}
PASSWD = `{{db_pwd}}`
SSL_MODE = disable

[repository]
ROOT = /home/{{gogs_user}}/gogs-repositories

[server]
DOMAIN = {{ ansible_hostname }}
HTTP_PORT = {{ gogs_port }}
ROOT_URL = {{ gogs_url }}

[session]
PROVIDER = file

[log]
MODE = file
LEVEL = Info

[security]
INSTALL_LOCK = true
SECRET_KEY = 1NS3SccBDywrYAa
