<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>{{ slave_host }}</name>
  <description>{{ node_description }}</description>
  <remoteFS>{{ jenkins_home }}</remoteFS>
  <numExecutors>{{ jenkins_executors }}</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.12">
    <host>{{ node_host }}</host>
    <port>{{ node_port }}</port>
    <credentialsId>c7e54cb3-8abf-4be5-bf15-1efbfe1dd8a2</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>{{ node_label }}</label>
  <nodeProperties/>
</slave>