<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials@2.0.7">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList>
        <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          <scope>GLOBAL</scope>
          <id>bae14e67-75b9-4fbc-b2fe-d6172bf07f76</id>
          <description>GOGS Credentials</description>
          <username>gogs</username>
          <password>a8zkI6GqqXqXek1w+8m/9AutJTwHlJoco5eRjeZLRlQfMP6qhI5rhK0Mw1u07mj+KD+k8uUErmhOKRlbHX7RlQ==</password>
        </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
        <com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey plugin="ssh-credentials@1.12">
          <scope>GLOBAL</scope>
          <id>c7e54cb3-8abf-4be5-bf15-1efbfe1dd8a2</id>
          <description>Jenkins ssh private key</description>
          <username>jenkins</username>
          <passphrase>a73xlRwoKJzw9Jj4ZPtRAVFAjLeoy6ogICKlL8XKUevGqqJfc6UGWZp6aIrtEU1k</passphrase>
          <privateKeySource class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$FileOnMasterPrivateKeySource">
            <privateKeyFile>{{jenkins_user_home}}/.ssh/id_rsa</privateKeyFile>
          </privateKeySource>
        </com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey>
        <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          <id>7136e5a0-871b-429f-816d-aafd4b4cb487</id>
          <description>Nexus Credentials</description>
          <username>admin</username>
          <password>/4Jkk/ykyufJDy9w14pHUsaqol9zpQZZmnpoiu0RTWQ=</password>
        </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
      </java.util.concurrent.CopyOnWriteArrayList>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>