<?xml version='1.0' encoding='UTF-8'?>
<jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin_-Descriptor plugin="publish-over-ssh@1.13">
  <hostConfigurations>
    <jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
      <name>{{remote_host_name}}</name>
      <hostname>{{remote_ip_address}}</hostname>
      <username>jenkins</username>
      <secretPassword>0yD3c2Y6agQMxexcNvDv+A==</secretPassword>
      <remoteRootDir>{{jenkins_user_home}}/</remoteRootDir>
      <port>22</port>
      <commonConfig class="jenkins.plugins.publish_over_ssh.BapSshCommonConfiguration">
        <secretPassphrase>0yD3c2Y6agQMxexcNvDv+A==</secretPassphrase>
        <key></key>
        <keyPath>{{jenkins_user_home}}/.ssh/id_rsa</keyPath>
        <disableAllExec>false</disableAllExec>
      </commonConfig>
      <timeout>300000</timeout>
      <overrideKey>false</overrideKey>
      <disableExec>false</disableExec>
      <keyInfo>
        <secretPassphrase>0yD3c2Y6agQMxexcNvDv+A==</secretPassphrase>
        <key></key>
        <keyPath></keyPath>
      </keyInfo>
    </jenkins.plugins.publish__over__ssh.BapSshHostConfiguration>
  </hostConfigurations>
  <commonConfig reference="../hostConfigurations/jenkins.plugins.publish__over__ssh.BapSshHostConfiguration/commonConfig"/>
  <defaults class="jenkins.plugins.publish_over_ssh.options.SshPluginDefaults"/>
</jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin_-Descriptor>