<?xml version='1.0' encoding='UTF-8'?>
<org.jfrog.hudson.ArtifactoryBuilder_-DescriptorImpl plugin="artifactory@2.4.0">
  <useCredentialsPlugin>false</useCredentialsPlugin>
  <artifactoryServers>
    <org.jfrog.hudson.ArtifactoryServer>
      <url>http://{{artifactory_ipaddress}}/artifactory</url>
      <id>-844406945@1439479724353</id>
      <timeout>300</timeout>
      <bypassProxy>false</bypassProxy>
      <deployerCredentialsConfig>
        <credentials>
          <username>admin</username>
          <password>cGFzc3dvcmQ=</password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
      </deployerCredentialsConfig>
    </org.jfrog.hudson.ArtifactoryServer>
  </artifactoryServers>
</org.jfrog.hudson.ArtifactoryBuilder_-DescriptorImpl>