<?xml version='1.0' encoding='UTF-8'?>
<proxy>
    <name>{{proxy_ip_address}}</name>
    <port>{{proxy_port}}</port>
    <noProxyHost>{{no_proxy_host}}</noProxyHost>
    <userName></userName>
    <secretPassword></secretPassword>
</proxy>