<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <jenkins.model.BuildDiscarderProperty>
            <strategy class="hudson.tasks.LogRotator">
                <daysToKeep>-1</daysToKeep>
                <numToKeep>3</numToKeep>
                <artifactDaysToKeep>-1</artifactDaysToKeep>
                <artifactNumToKeep>-1</artifactNumToKeep>
            </strategy>
        </jenkins.model.BuildDiscarderProperty>
        <se.diabol.jenkins.pipeline.PipelineProperty plugin="delivery-pipeline-plugin@0.9.9">
            <taskName>clean</taskName>
            <stageName>build</stageName>
        </se.diabol.jenkins.pipeline.PipelineProperty>
    </properties>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>http://{{gogs_uri}}:{{gogs_port}}/gogs/pamm.seed</url>
                <credentialsId>bae14e67-75b9-4fbc-b2fe-d6172bf07f76</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>refs/tags/1.3</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <jdk>Java JDK 8u77-x64</jdk>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command># Create link to node_modules for Karma tests
                if [[ ! -e node_modules ]]; then
                ln -s ~/node_modules node_modules
                fi</command>
        </hudson.tasks.Shell>
        <org.jvnet.hudson.plugins.SbtPluginBuilder plugin="sbt@1.5">
            <name>SBT</name>
            <jvmFlags></jvmFlags>
            <sbtFlags>-Dsbt.log.noformat=true</sbtFlags>
            <actions>clean</actions>
            <subdirPath></subdirPath>
        </org.jvnet.hudson.plugins.SbtPluginBuilder>
    </builders>
    <publishers>
        <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.30">
            <configs>
                <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
                    <configs>
                        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                            <properties>SOURCE_BUILD_NUMBER=${BUILD_NUMBER}
                                SOURCE_BUILD_WORKSPACE=${WORKSPACE}</properties>
                        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                    </configs>
                    <projects>pamm-seed-build</projects>
                    <condition>SUCCESS</condition>
                    <triggerWithNoParameters>false</triggerWithNoParameters>
                </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
            </configs>
        </hudson.plugins.parameterizedtrigger.BuildTrigger>
    </publishers>
    <buildWrappers>
        <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.28">
            <deleteDirs>false</deleteDirs>
            <cleanupParameter></cleanupParameter>
            <externalDelete></externalDelete>
        </hudson.plugins.ws__cleanup.PreBuildCleanup>
    </buildWrappers>
</project>