[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
After=mysql.service

[Service]
Type=simple
User=gogs
Group=gogs
WorkingDirectory=/usr/local/gogs
ExecStart=/usr/local/gogs/gogs web
Restart=always
Environment=USER=gogs HOME=/home/gogs

[Install]
WantedBy=multi-user.target
