---
- name: Creating the NGINX user
  user:
    name={{nginx_user}}
    password={{nginx_password}}
    state=present

- include: plays/install_rpm.yml
  vars:
    rpm_app_name: NGINX File System
    rpm_filename: "{{nginx_filesystem_rpm}}"

- include: plays/install_rpm.yml
  vars:
    rpm_app_name: NGINX
    rpm_filename: "{{nginx_rpm}}"

- name: Configuring the NGINX proxy settings
  copy:
    src=nginx.conf
    dest=/etc/nginx
    owner={{nginx_user}}

- name: Customising the proxy settings for the {{blueprint}} blueprint
  copy:
    src={{blueprint}}/{{inventory_hostname}}/v.hosts
    dest=/etc/nginx
