---
  - name: Install Simple Build Tool (SBT)
    include: "plays/install_tool.yml"
    vars:
      tool_name : SBT
      folder_name : "{{ sbt_folder }}"
      zip_filename: "{{ sbt_zip }}"
      add_version_to_folder : true
      zip_has_folder : true
      has_bin_folder : true
      user: jenkins
