---
### Open Port for Jenkins
  - include: "plays/open_port.yml"
    vars:
      - port_number: "{{jenkins_port}}"
    when: connection == "ssh"

### Install Jenkins
  - name: Check Jenkins installed
    stat: path="{{jenkins_home}}/plugins"
    register: jenkins_exists

  - include: install_jenkins.yml
    become: "{{become}}"
    when: jenkins_exists.stat.exists == false

### Setup Jenkins ssh connectivity plugin
  - name: Jenkins publish over ssh settings
    template:
      src=jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin.xml.j2
      dest="{{jenkins_home}}/jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin.xml"
      owner="{{jenkins_user}}"
      group="{{jenkins_group}}"
    when: blueprint != "silicon"

  - name: Change Jenkins folder permissions
    file:
      name="{{item.folder}}"
      recurse="yes"
      mode="0777"
    with_items:
      - { folder: '{{jenkins_user_home}}'}
      - { folder: 'var/log/jenkins'}
    when: blueprint == "silicon"
