---
  - name: Clone PAMM seed repository
    git:
      repo: "{{ group_pamm_seed_repo }}"
      dest: /home/{{gogs_user}}/gogs-repositories/pamm.seed
      update: yes

  - name: Change owner of PAMM seed repository
    file:
      path: "/home/{{gogs_user}}/gogs-repositories/pamm.seed"
      owner: "{{gogs_user}}"
      group: "{{gogs_group}}"
      recurse: yes

  - name: Copy PAMM seed import script
    copy:
      src: import_pamm_seed.sh
      dest: /import_pamm_seed.sh
      mode: 0755

  - name: Import PAMM seed into GOGS
    shell: /import_pamm_seed.sh

  - name: Remove PAMM seed import script
    file:
      path=/import_pamm_seed.sh
      state=absent
