---
- name: Install Groovy
  include: build_tools/install_groovy.yml

- name: Install SBT
  include: build_tools/install_sbt.yml

- name: Install Gradle
  include: build_tools/install_gradle.yml

- name: Install Maven
  include: build_tools/install_maven.yml

- name: Install Git
  include: build_tools/install_git.yml

- name: Installing NodeJS
  include_role:
    name: "common_tasks"
    tasks_from: "install_rpms.yml"
  with_dict: "{{ nodejs_packages }}"
  loop_control:
    loop_var: package

- name: Installing Bower
  command: "npm install -g bower"

- name: Install Sonar Runner
  include: build_tools/install_sonar_runner.yml
...