---
  - name: Clone PAMM seed repository version {{ pamm_seed_tag }}
    git:
      repo: "{{ group_pamm_seed_repo }}"
      dest: /pamm.seed
      version: "{{ pamm_seed_tag }}"

  - name: Create link to Node Manager
    file:
      src: /node_modules
      dest: /pamm.seed/node_modules
      state: link

  - name: Install required dependencies
    npm: path=/pamm.seed

  - name: Update webdriver
    shell: "cd /pamm.seed && npm run webdriver-update"

  - name: Install or build SBT cache
    include: build_sbt.yml

  - name: Remove PAMM seed
    file:
      path: /pamm.seed/
      state: absent
