[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
After=mysqld.service

[Service]
Type=simple
User=vagrant
Group=vagrant
WorkingDirectory=/usr/local/gogs
ExecStart=/usr/local/gogs/gogs web
Restart=always
Environment="USER=vagrant","HOME=/home/vagrant"

[Install]
WantedBy=multi-user.target
