---
  - name: Create group for Nexus user
    user:
      name="{{nexus_group}}"
      state=present

  - name: Create user for Nexus
    user:
      name={{nexus_user}}
      password={{nexus_password}}
      state=present

  - name: Install Nexus OSS
    include: "plays/install_tool.yml"
    vars:
      tool_name : nexus
      folder_name : "{{ nexus_folder }}"
      zip_filename: "{{ nexus_zip }}"
      add_version_to_folder : false
      zip_has_folder : true
      has_bin_folder : true

  - name: Set Nexus folder owner
    file:
      path=/usr/local/nexus
      owner="{{nexus_user}}"
      group="{{nexus_group}}"
      state=directory
      recurse=yes

  - name: Copy Nexus script
    copy:
      src=nexus
      dest=/etc/init.d/nexus
      mode=0755
      owner=root

  - name: Starting the NEXUS service
    service:
      name=nexus
      state=started
      enabled=yes
    when: blueprint != "silicon"

  - name: Start Nexus console
    shell: "su -c \"/usr/local/nexus/default/bin/nexus console &\" - nexus"
    when: blueprint == "silicon"
