---
  - name: Create group for Nexus user
    user:
      name="{{nexus_group}}"
      state=present

  - name: Create user for Nexus
    user:
      name={{nexus_user}}
      password={{nexus_password}}
      state=present

  - name: Install Nexus OSS
    include: "plays/install_tool.yml"
    vars:
      tool_name : nexus
      folder_name : "{{ nexus_folder }}"
      zip_filename: "{{ nexus_zip }}"
      add_version_to_folder : false
      zip_has_folder : true
      has_bin_folder : true

  - name: Set Nexus folder owner
    file:
      path=/usr/local/nexus
      owner="{{nexus_user}}"
      group="{{nexus_group}}"
      state=directory
      recurse=yes

  - name: Set Nexus "run as" user
    copy:
      src=nexus.rc
      dest=/usr/local/nexus/default/bin/nexus.rc
      owner="{{nexus_user}}"
      group="{{nexus_group}}"
    when: blueprint != "silicon"

  - name: Create link to Nexus script
    command: ln -s /usr/local/nexus/default/bin/nexus /etc/init.d/nexus
    when: blueprint != "silicon"

  - name: Copy Nexus start script
    copy:
      src=start_nexus.sh
      dest=/usr/local/nexus/default/start_nexus.sh
      owner="{{nexus_user}}"
      group="{{nexus_group}}"
      mode=0777
    when: blueprint != "silicon"

  - name: Starting the NEXUS service
    command: /usr/local/nexus/default/start_nexus.sh
    when: blueprint != "silicon"

  - name: Copy entrypoint script for Nexus Docker container
    copy:
      src=entrypoint.sh
      dest=/entrypoint.sh
      mode=0755
    when: blueprint == "silicon"
