---
  - name: Check Nexus installed
    stat: path="/usr/local/nexus"
    register: nexus_exists

  - name: Install Nexus
    include: install_nexus.yml
    when: nexus_exists.stat.exists == false

  - name: Change Nexus home folder permissions
    file:
      name="/usr/local/nexus"
      recurse="yes"
      mode="0777"
    when: blueprint == "silicon"
