---
- name: Check to see if ssh key exists
  stat:
    path: "{{ jenkins_user_home }}/.ssh/id_rsa"
  register: key_exists

- block:
  - name: Create key folder
    file:
      path="{{jenkins_user_home}}/.ssh"
      state=directory
      owner="{{jenkins_user}}"
      group="{{jenkins_group}}"

  - name: Generate Jenkins ssh key
    user:
      name: "{{ jenkins_user }}"
      generate_ssh_key: yes

  # end block
  when: key_exists.stat.exists == false
...
