---
- name: Check to see if ssh key exists
  stat:
    path: "{{ jenkins_user_home }}/.ssh/id_rsa"
  register: key_exists

- block:
  - name: Create key folder
    file:
      path="{{jenkins_user_home}}/.ssh"
      state=directory
      owner="{{jenkins_user}}"
      group="{{jenkins_group}}"

  - name: Generate Jenkins ssh key
    command: "su -c \"echo /n/n/n | ssh-keygen -f {{ jenkins_user_home }}/.ssh/id_rsa\" - {{ jenkins_user }} warn=no"

  # end block
  when: key_exists.stat.exists == false

- debug:
    var: "{{ group_names[0] }}"
  #and group_names == "build"
