---
  - name: Create jenkins group
    group:
      name="{{jenkins_group}}"
      state=present

  - name: Create jenkins user
    user:
      name="{{jenkins_user}}"
      password="{{jenkins_password}}"
      group="{{jenkins_group}}"
      state=present

  - name: Add Jenkins to sudoers list
    copy: src=sudoers.jenkins dest=/etc/sudoers.d/jenkins
    when: blueprint != "silicon"

  - name: Set jenkins user environment variables
    blockinfile:
      dest: "{{jenkins_user_home}}/.bashrc"
      insertafter: "# User specific aliases and functions"
      marker: "# {mark} Jenkins Environment Variables"
      block:  "export JAVA_HOME=/usr/java/default

export JENKINS_HOME={{jenkins_home}}

export PATH=$PATH:$JAVA_HOME/bin

"

  - name: Disable requiretty for jenkins user
    blockinfile:
      dest: "/etc/sudoers"
      insertafter: "Defaults    requiretty"
      marker: "# {mark} Disable Jenkins Require TTY"
      block:  "Defaults:jenkins !requiretty

"

  - name: Generate ssh keys for jenkins user
    include: generate_ssh_keys.yml
    when: blueprint != "silicon"
