---
  - name: Create jenkins group
    group:
      name:  "{{ jenkins_group }}"
      state: present

  - name: Create jenkins user
    user:
      name:     "{{ jenkins_user }}"
      password: "{{ jenkins_password }}"
      group:    "{{ jenkins_group }}"
      state:    present

  - name: Get list of groups on managed host
    command: "cut -d: -f1 /etc/group"
    register: group_list

  - name: Add Jenkins user to local_ssh group (if exists)
    user:
      name: "{{ jenkins_user }}"
      append: yes
      group: local_ssh
    when: group_list.stdout.find("local_ssh") != -1

  - name: Add Jenkins to sudoers list
    copy:
      src:  "sudoers.jenkins"
      dest: "/etc/sudoers.d/jenkins"
    when: blueprint != "silicon"

  - name: Set jenkins user environment variables
    blockinfile:
      dest: "{{jenkins_user_home}}/.bashrc"
      insertafter: "# User specific aliases and functions"
      marker: "# {mark} Jenkins Environment Variables"
      block:  "export JAVA_HOME=/usr/java/default

export JENKINS_HOME={{ jenkins_home }}

export PATH=$PATH:$JAVA_HOME/bin

"

  - name: Disable requiretty for jenkins user
    blockinfile:
      dest: "/etc/sudoers"
      insertafter: "Defaults    requiretty"
      marker: "# {mark} Disable Jenkins Require TTY"
      block:  "Defaults:jenkins !requiretty

"
    when: blueprint != "silicon"

  - name: Remove nologin file
    file:
      path: /run/nologin
      state: absent
    when: connection == "docker"

  - name: Start sshd service (Docker only)
    service:
      name: sshd
      state: started
      enabled: yes
    when: connection == "docker"

  - name: Generate ssh keys for jenkins user
    include: generate_ssh_keys.yml
    when: blueprint != "silicon"
