RUN_USER = {{gogs_user}}
RUN_MODE = prod

[database]
DB_TYPE = mysql
HOST = {{database_uri}}:{{ database_port }}
NAME = gogs
USER = {{db_user}}
PASSWD = {{db_pwd}}
SSL_MODE = disable

[repository]
ROOT = /home/{{gogs_user}}/gogs-repositories

[server]
DOMAIN = localhost
HTTP_PORT = {{ gogs_port }}
ROOT_URL = http://localhost:{{ gogs_port }}/

[session]
PROVIDER = file

[log]
MODE = file
LEVEL = Info

[security]
INSTALL_LOCK = true
SECRET_KEY = 1NS3SccBDywrYAa
