#!/usr/bin/env bash
# Set GOGS environment variables
export HOME={{gogs_path}}
export USER={{gogs_user}}
export USERNAME={{gogs_user}}

# Substitute database IP address in GOGS config file
sed -i "s/\${DB_IP_ADDRESS}/${DB_IP_ADDRESS}/" /usr/local/gogs/custom/conf/app.ini

# Start GOGS
cd /usr/local/gogs/
./gogs web &

# Wait for GOGS to start
sleep 10

# Clone PAMMY
echo gogs | su - {{gogs_user}} -c /clone_pammy.sh

# Stop container from exiting
echo GOGS container ready
sleep infinity
