#!/usr/bin/env bash
# Set GOGS environment variables
export HOME={{gogs_path}}
export USER={{gogs_user}}
export USERNAME={{gogs_user}}

# Substitute database IP address in GOGS config file
sed -i "s/\${DB_IP_ADDRESS}/${DB_IP_ADDRESS}/" /usr/local/gogs/custom/conf/app.ini

# Start GOGS
cd /usr/local/gogs/
./gogs web


# Clone PAMMY
git clone http://github.com/gatblau/pamm.seed /home/{{gogs_user}}/gogs-repositories/pamm.seed
chown -R gogs:gogs /home/{{gogs_user}}/gogs-repositories/pamm.seed

git config --global push.default matching

# Import cloned PAMM seed into GOGS
cd /home/gogs/gogs-repositories/pamm.seed
git remote set-url origin http://gogs:gogs@localhost:3000/gogs/pamm.seed.git
git push -u origin master
